.App{
  display: flex;
  flex-direction: column;
}

img{
  width:300px;
  margin: auto;
  padding: 10px;
}
.wish{
margin: auto;
padding:10px;
}
input{
  width: 300px;
  height: 20px;
}
.crossed{
  text-decoration: line-through 2px red;
  background-color: plum;
}
.container{
  margin-top: 20px;
}
button{
  width: 310px;
  height: 30px;
 border: none;
 color: azure;
}
.btnAdd{
  background-color: green;
}
.btnDelete{
  background-color: red;
}
li{
  list-style: circle;
color: darkslategrey;
  
}